<%= form_for @pet do |f| %>
<p>
  <%= f.label :pet_name %>
  <%= f.text_field :pet_name %>
</p>
  <p>
    <%= f.label :owner %>
    <%= f.text_field :owner %>
  </p>
  <p>
    <%= f.submit 'Update pet' %>
  </p>
<% end %>